<!DOCTYPE html>

<html ng-app="filmApp">
<head> 
    <meta charset="utf-8">   
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <link href="/public/css/collection.css" rel="stylesheet">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/public/js/jquery-2.1.1.min.js"></script>
    <script src="/public/js/filmapp.js"></script>
    <title>Mes films</title>
</head>
<body ng-controller="FilmCtrl">
    <header>
        <div class="header-wrapper site-title">
            <div id="nav">
                <nav class="main-nav dropdown-click" id="main-navigation">
                    <ul>
                        <li><a href="/musique">Ma musique</a></li>
                        <li><a href="/film">Mes films</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div id="title">
        <h1>Mes Films</h1>
        <form id="searchFilm" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="searchFilm" placeholder="Titre" ng-model="searchFilm">
            </div>
        </form>
    </div>

    <section class="row section">
        <div class="grid-item col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-2" ng-repeat="film in data.films | orderBy:'titre' | filter : searchMusic" on-finish-render="ngRepeatFinished">
            <div class="grid-item-content">
                <img src="/public/images/{{ film.imagePath }}" />
                <h3>{{ film.titre }}</h3>
            </div>
        </div>
    </section>
</body>
</html>